@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poller+One&family=Rubik+Doodle+Shadow&display=swap');
:root {
    --font1:'Inter', sans-serif;
    --font2:'Poller One', serif;
    --font3:'Rubik Doodle Shadow', system-ui;
    --pri: #144EAC;
    --sec: rgba(0, 0, 0, 1);
    --bg: white;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Ubuntu, sans-serif;
    background-color: white;
    margin: 0;
    color: #666666;

}
.head {
    height: 70px;
    overflow: hidden;
    display: flex;
    width: fit-content;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    width: 220px;
}

.line {
    display: inline-block;
    width: 7px;
    border:none;
    outline: none;
    height: 100px;
    transform: rotate(30deg);
    position: absolute;
    left: 55px;
    top: -10px;
    z-index: 1;
    background: var(--bg);
}
.l1 {
    display: inline-block;
    width: 130px;
    height: 70px;
    background: var(--pri);
    font-family: var(--font1);
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    transform: rotate(-60deg);
    text-align: center;
    color: white;
    /* left: 0; */

}
.l2 {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 150px;
    height: 70px;
    background: var(--pri);
    font-family: var(--font1);
    font-size: 20px;
    font-weight: 800;
    color: white;
    padding-left: 20px;
    position: absolute;
    right: 0;
}
header {
    display: flex;
    flex-flow: row;
    top: 0;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
h1 {
    font-family: var(--font2);
    font-size: 24px;
    margin-left: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.divider {
    width: 80%;
    height: 30px;
    z-index: 2;
    background: var(--sec);
}
main {
    padding: 20px 50px;
}
ul {
    list-style-type: none;
}
.particulars {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    font-family: var(--font1);
}
.invoice-id {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 20px;
}
.invoice-id span {
    font-weight: 800;
    font-size: 16px;
}
.invoice-table {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;
}
.invoice-table th:nth-child(1) {
    width: 40%;
}
.invoice-table th:nth-child(2),
.invoice-table th:nth-child(3),
.invoice-table th:nth-child(4) {
    width: 16.66%;
}
.invoice-table tr {
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid var(--sec);
    margin: 10px 0;
    height: 30px;
}
td, th {
    padding: 0 10px;
}
.invoice-table .header {
    border: 1px solid rgba(236, 162, 108, 1);
}
footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font1);
    height: 40px;
    position: absolute;
    bottom: 0%;
    gap: 30px;

}
.f1, .f2 {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    position: relative;
}
.f0 {
    display: inline-block;
    height: 100%;
    position: absolute;
    right: -11px;
    width: 30px;
    transform: skew(-30deg);
    background-color: var(--sec);
}
.ava {
    left: -11px;
    right: none;
    background-color: var(--pri);
}
.f1 {
    background-color: var(--sec);
}
.f2 {
    background-color: var(--pri);
}
.results {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
}
.total {
    font-size: 13px;
    /* border-collapse: collapse; */
}
.total td {
    padding: 5px;
}
.st, .Total {
    font-size: 15px;
    font-weight: 700;
}
.Total {
    margin-top: 10px;
}